# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# =========================
# Environment files
# =========================
.env
.env.docker
airflow/.env

# Keep the example configuration
!.env.example

# =========================
# Airflow
# =========================
airflow/logs/

# =========================
# dbt
# =========================
retail_dbt/logs/
retail_dbt/target/
retail_dbt/.user.yml

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Operating System
# =========================
.DS_Store
Thumbs.db

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Pytest
# =========================
.pytest_cache/

# =========================
# Coverage
# =========================
.coverage
htmlcov/
