# Virtual Environment
venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.py[cod]

# Log Files
logs/
*.log

logs/*.log

python/utils/test_logger.py

dbt_project/retail_analytics/logs/
dbt_project/retail_analytics/target/
dbt_project/retail_analytics/dbt_packages/